# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Odoo
*.pyc
.odoo_module_installed

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo

# Excel / archivos de trabajo locales
*.xlsx
*.xls
*.bak
*.tmp
